################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/src/FileParser/obj/Debug
/src/FileParser/FileParser_Local.nuspec
/src/FileParser.UnitTests/obj/Debug
/src/FileParser/bin/Debug
/src/FileParser.UnitTests/bin/Debug
